<!DOCTYPE html>
<html>
<head>
  <title>The Hangman Game</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/main.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.18/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.18/angular-resource.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.18/angular-sanitize.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.15/angular-filter.min.js"></script>
  <script src="/AppController.js"></script>
</head>
<body ng-app="Hangman">

<div ng-controller="AppController" class="container">
  <nav class="navbar navbar-inverse">
    <h3 class="navbar-text">{{title}}</h3>
  </nav>

  <div class="row">

    <div class="col-sm-6">

    <!-- start userInput -->
      <form class="userInput" name="guessForm">
        <label>Enter your guess here at your own risk:</label>
        <div class="input-group" id="guessInput" ng-class="{ 'has-error': guessForm.guess.$invalid && !guessForm.guess.$pristine}">
          <input type="text" name="guess" class="form-control" size="1" maxlength="1" ng-model="guess"
          ng-required="true" ng-Pattern="/^[a-zA-Z]*$/"
          ng-keyup="$event.keyCode == 13 && guessForm.$valid && submitGuess(guess)">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="guessForm.$valid && submitGuess(guess)">Go!</button>
          </span>
        </div>
        <!--  error handling -->
        <span ng-show="!guessForm.guess.$pristine && guessForm.guess.$invalid">
          <p ng-show="guessForm.guess.$error.required" class="error">
              Please enter a guess.
          </p>
          <p ng-show="guessForm.guess.$error.pattern" class="error">
              Please enter English letters from A-Z only.
          </p>
          <p ng-show="guessForm.guess.$error.maxlength" class="error">
              Please enter 1 letter at a time.
          </p>
        </span>
        <!-- end error handling -->
      </form>
      <!-- end userInput -->
      <hr />

      <!-- start correct letters & word display -->
      <div ng-repeat="letter in lettersArray track by $index">
        <div class="letterBox col-sm-2"> <span ng-if="validPositions | contains:$index" class="correctGuess">{{letter}}</span></div>
      </div>
      <!-- end correct letters & word display -->
      <div class="row">
        <div class="col-sm-12">
          <div ng-if="gameWon" class="alert alert-success" role="alert">Nice! You won this round.</div>
          <div ng-if="!gameWon && gameOver" class="alert alert-danger" role="alert">Better luck next time.</div>
          <div ng-if="duplicateGuess" class="alert alert-warning" role="alert">You have already used that letter in a guess.</div>
        </div>
      </div>
    </div>

    <div class="col-sm-3 hangman-diagram">
      <img src="{{imgSrc}}">
      <hr />
      <div>
        <button type="button" class="btn btn-warning" ng-if="gameOver" ng-click="restartGame()">Restart Game</button>
      </div>
    </div>

    <div class="col-sm-3 stats">
      <h4>Games won: {{gamesWon}}</h4>
      <h4>Games lost: {{gamesLost}}</h4>
    </div>

  </div>

</div>

</body>
</html>
